<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>510508717.45920402</real>
				<key>version</key>
				<dict>
					<key>f096a603f0b149954d12f7b1dda2e78bb4c43cfed703fb9f746f81b1a8cb8a86</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Summary.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510509232.192177</real>
				<key>lastModification</key>
				<real>510509232.192177</real>
				<key>version</key>
				<dict>
					<key>f096a603f0b149954d12f7b1dda2e78bb4c43cfed703fb9f746f81b1a8cb8a86</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Workshop-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>510509291.08293003</real>
				<key>version</key>
				<dict>
					<key>f096a603f0b149954d12f7b1dda2e78bb4c43cfed703fb9f746f81b1a8cb8a86</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Summary.md</string>
		</array>
		<array>
			<string>Workshop-summary.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f096a603f0b149954d12f7b1dda2e78bb4c43cfed703fb9f746f81b1a8cb8a86</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
